sudo: false
dist: xenial
language: ruby
notifications:
  email: false
rvm:
  - 2.4.3
  # 2.5.1
  - 2.6

stages:
  - test
  - moban

.disable_global: &disable_global
  addons: false
  cache: false
  env: {}
  python: false
  before_install: false
  install: false
  before_script: false
  script: false
  after_success: false
  after_failure: false
  before_deploy: false
  deploy: false

.moban: &moban
  <<: *disable_global
  python: 3.6
  stage: moban
  install: pip install moban>=0.0.4
  script:
    - moban
    - git diff --exit-code

os:
  - linux
  - osx

jobs:
  include:
    - stage: moban
      <<: *moban
      if: branch = master AND type = push
    - *moban
  allow_failures:
    - *moban

stage: test

env:
  global:
    - COALA_ZIP_URL=https://codeload.github.com/coala/coala/zip
    - BEARS_ZIP_URL=https://codeload.github.com/coala/coala-bears/zip
    # Speeds installation of html-proofer
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - GRAVIS="https://raw.githubusercontent.com/DanySK/Gravis-CI/master/"
    - JDK="adopt@1.8.212-04"

cache:
  pip: true
  directories:
    - ~/nltk_data
    - ~/.jabba

before_install:
  - echo $PKG_CONFIG_PATH
  # /usr/local/opt/libxml2/lib/pkgconfig:/usr/local/opt/libxml2/lib/pkgconfig
  - pkg-config --cflags --libs libxml-2.0
  - sed -i.bak '/^ruby /d' Gemfile
  - pwd

before_script:
  - pwd
  - curl "${GRAVIS}.install-jdk-travis.sh" --output ~/.install-jdk-travis.sh
  - pwd
  - echo $TRAVIS_BUILD_DIR

  #if [ "$TRAVIS_OS_NAME" == osx ]; then
  #      brew install pkg-config libxml2;
  #      gem install pkg-config;
  #    el
  #brew install python3;
  - >
    if [ -z "$TRAVIS_PYTHON_VERSION" ]; then
      set -e;
      if [ "$TRAVIS_OS_NAME" == windows ]; then
        choco install python 3.6;
      else
        echo "$PYENV_ROOT";
        cd "$PYENV_ROOT" && git checkout master && git pull;
        pyenv install 3.6.3 && pyenv global 3.6.3;
        cd $TRAVIS_BUILD_DIR;
      fi
      hash -r;
      sudo ln -sf $(which python3) $(which python);
      sudo ln -sf $(which pip3) $(which pip 2>/dev/null || echo /usr/bin/pip);
      pip install --upgrade pip;
      set -e;
    fi

  - pwd
  # See rationale in .ci/deps.python-packages.ps1 for pre-installing these
  - pip install --prefer-binary cffi lxml
  # Use pip 9, so that setuptools can be downgraded.
  # https://github.com/coala/coala/issues/4708
  # Apart from builds with python 2.7 and 3.5, it installs setuptools
  # twice. So, it is required to uninstall one version manually.
  - pip uninstall setuptools --yes
  - pip uninstall setuptools --yes || true
  - pip uninstall setuptools --yes || true
  - pip uninstall pipenv --yes || true
  - pip install pip==9.0.1 setuptools==21.2.2
  - source ~/.install-jdk-travis.sh

  - which bundle
  - gem install bundler
  - which bundle
  - pwd

script:
  - pwd
  - .ci/build.sh
  - curl -fsSL -o coala.zip $COALA_ZIP_URL/master
  - pip install coala.zip
  - curl -fsSL -o coala-bears.zip $BEARS_ZIP_URL/master
  - pip install coala-bears.zip[alldeps]
  - coala --non-interactive

branches:
  exclude:
    - /^sils\//
