language: ruby
rvm:
  - 2.3.3
cache: bundler

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true  # Speeds installation of html-proofer
  matrix:
    - RUBY=true

jobs:
  include:
    - stage: moban
      language: python
      python: 3.6
      rvm: false
      env:
      cache: pip
      install: pip install moban
      script: .ci/check_moban.sh
    - stage: coala
      language: python
      python: 3.6
      rvm: false
      script:
        - >
          if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then
            sed -i.bak '/bears = GitCommitBear/d' .coafile
          fi
        - docker run -v=$(pwd):/app --workdir=/app coala/base coala --ci

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
script:
  - .ci/build.sh
  # https://github.com/coala/coala-bears/issues/1037

notifications:
  email: false
  webhooks: https://www.travisbuddy.com/
  on_success: never
